.app-container {
  background-image: url('Valorant.gif'); /* Cambia esto por la URL o ruta local de tu GIF */
  background-size: cover; /* Cubrir toda la pantalla */
  background-position: center; /* Centrar el fondo */
  background-repeat: no-repeat; /* No repetir el fondo */
  min-height: 100vh; /* Asegúrate de que el fondo cubra toda la altura de la ventana */
  display: flex;
  align-items: center;
  justify-content: center;
}

  
  .card {
    background-color: #fff; /* Fondo blanco para las cards */
    color: #333; /* Color del texto dentro de las cards */
    border-radius: 10px; /* Esquinas redondeadas */
    overflow: hidden; /* Oculta cualquier contenido que se salga del borde redondeado */
  }
  
  .card-body {
    padding: 15px; /* Espaciado interno */
  }
  
  .card-title {
    font-weight: bold; /* Título en negrita */
  }
  
  .card img {
    border-bottom: 1px solid #ddd; /* Línea divisoria */
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
  }
  
  .btn-group .btn {
    flex: 1; /* Ambos botones tienen el mismo tamaño */
    margin: 5px; /* Separación entre los botones */
  }
  
