.app-container {
  background-image: url('Valorant.gif'); /* COLOCAMOS EL GIF DE LA UI */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

  
  .card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card img {
    border-bottom: 1px solid #000000;
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-group .btn {
    flex: 1; 
    margin: 5px;
  }
  
